.arrow {
    animation: right 450ms ease-in infinite alternate;
}

@keyframes right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(8px);
        opacity: .6;
    }
}