.portfolioImg {
    @include linear(250ms);
        @include img-cover(100%,200px,top);

        @include media-breakpoint-up(md) {
            height: 350px;
        }
}

.portfolioPoint {
    position: absolute;
    right: 0;
    bottom: 10%;
}