.worksImg {
    @include linear(250ms);
        @include img-cover(100%,200px,top);

        @include media-breakpoint-up(md) {
            height: 350px;
        }
}

.worksPoint {
    position: absolute;
    right: 0;
    bottom: 10%;
}

.worksFooter {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
}