.loading {
    position: fixed;
    top: 0;
    left: 0;
    // transform: translateX(-50%) translateY(-50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    // border-radius: 50%;
    background-color: black;
    // clip-path: circle(100% at center);

    // &__bg {
    // position: fixed;
    // top: 0;
    // width: 100vw;
    // height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: black;
    // z-index: 9998;
    // }
    // &__wrap {
    // }

    &__line {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #fff;
        transform-origin: 0 50%;
    }
}

// .js-loading-wrap {

//     position: fixed;
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: black;
//     z-index: 9998;
// }

// .loading__circle {
//     clip-path: circle(150px at center);
// }

// .js-loading-wrap {
//     padding-top: 0.1em;
//     padding-right: 0.05em;
//     padding-bottom: 0.15em;
// }

// .line1 { 
//     top: 0; 
//     left: 0;
//   }

// .loading__circle {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // background-color: black;
//     z-index: 9998;
// }

// .loading__circle:nth-child(1) {
//     // background-color: black;
//     filter: blur(10px);
// }

// .loading__circle:nth-child(2) {
//     clip-path: circle(150px at center);
//     border: 1px solid #fff;
//     z-index: 9999;
// }