.button-telesto-secondary {
    overflow: hidden;
    background: $secondary;
    border: 2px solid $secondary;
    color: white;
}

.button-telesto-secondary::before {
    width: 135%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    transform: translate3d(-100%,0,0);
    background: $primary;
}

.button-telesto-secondary::after {
    width: 105%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(100%,0,0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    background: $primary;
}

.button-telesto-secondary:hover::after {
    transform: translate3d(0,0,0);
    transition: transform 0.01s 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button-telesto-secondary:hover {
    color: $secondary;
}

.button-telesto-secondary > span {
    overflow: hidden;
}

.button-telesto-secondary span {
    display: block;
    position: relative;
    z-index: 1;
}

.button-telesto-secondary:hover::before {
    transform: translate3d(0,0,0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button-telesto-secondary::before {
    width: 135%;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    transform: translate3d(-100%,0,0);
}

.button-telesto-secondary:hover > span > span {
    animation: MoveRightInitial 0.1s forwards, MoveRightEnd 0.3s forwards 0.2s;
}

@keyframes MoveRightEnd {
    0% {
        transform: translate3d(-100%,0,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes MoveRightInitial {
    100% {
        transform: translate3d(105%,0,0);
    }
}