.checkedStamp {
    transform-style: preserve-3d;
    perspective: 500px;
    position: absolute;
    width: 100px;
    top: -5%;
    right: 0;

    @include media-breakpoint-up(md) {
        width: 150px;
    }

    @include media-breakpoint-up(lg) {
        width: 200px;
        top: -10%;
        right: -1%;
    }

    @include media-breakpoint-up(xl) {
        right: -3%;
    }
}