.cursorFront {
    width: 28px;
    height: 28px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lighten($primary, 15%);
    pointer-events: none;
    mix-blend-mode: difference;
    isolation: isolate;
    z-index: 9999;
    border-radius: 50%;
    transition: transform 150ms;
}

.cursorBack {
    z-index: 9999;
    width: 32px;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lighten($primary, 15%);
    pointer-events: none;
    mix-blend-mode: difference;
    isolation: isolate;
    border-radius: 50%;
}