.customCard {
    @include linear(250ms);

    &:hover {
        @include linear(250ms);
        transform: translateY(10px);
        color: black;
    }

    &:hover .customCard__wrap {
        box-shadow: none;
        @include linear(250ms);
    }

    &:hover .customCard__wrap__img {
        @include linear(500ms);
        transform: translateY(calc(-100% + 300px));

        @include media-breakpoint-up(sm) {
            transform: translateY(calc(-100% + 400px));
        }

        @include media-breakpoint-up(md) {
            transform: translateY(calc(-100% + 350px));
        }

        @include media-breakpoint-up(lg) {
            transform: translateY(calc(-100% + 410px));
        }
    }

    &:hover .customCard__wrap__mask {
        opacity: 1;
        @include linear(250ms);
    }

    &:hover .customCard__wrap__mask__text {
        transform: scale(1);
        @include linear(250ms);
    }

    &__wrap {
        box-shadow: 3px 3px 3px rgba(119, 119, 119, 0.2);
        height: 300px;
        @include linear(250ms);

        @include media-breakpoint-up(sm) {
            height: 400px;
        }

        @include media-breakpoint-up(md) {
            height: 350px;
        }

        @include media-breakpoint-up(lg) {
            height: 410px;
        }
    }

    &__wrap__img {
        @include linear(500ms);
        @include img-cover(100%,auto,top);
        // @include img-cover(100%,300px,top);

        // @include media-breakpoint-up(sm) {
        //     height: 400px;
        // }

        // @include media-breakpoint-up(md) {
        //     height: 350px;
        // }

        // @include media-breakpoint-up(lg) {
        //     height: 410px;
        // }
    }

    &__wrap__mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateX(-50%) translateY(-50%);
        transform-origin: 0 0;
        opacity: 0;
        z-index: 999;
        @include linear(250ms);
    }

    &__wrap__mask__text {
        transform: scale(0);
        opacity: .7;
        @include linear(250ms);
    }
}