.titleIcon {
    width: 20px;
    height: 17px;
    background-image: url("../../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @include media-breakpoint-up(md) {
        width: 30px;
        height: 26px;
    }
}